// core overrides
$sidebar-bg: #eee;
$sidebar-nav-link-color: $body-color;
$sidebar-nav-link-active-color: #fff;
$sidebar-nav-link-icon-color: $body-color;
$sidebar-nav-link-active-icon-color: #fff;
$sidebar-nav-link-active-bg: $orange;