.profile {
    padding: 1em;
}
.profile-details {
    text-align: center;
}
.profile-card-detail-row {
    margin-top: 0.5em;
}
.profile-title {
    font-size: 13px;
}
.profile-name {
    font-size: 32px;
}
.profile-open-button {
    float: right;
    margin: 0 auto;
    button {
        height: 100%;
        background: #fff;
        border: 0px;
        width: 100%;
    }
}