// Here you can add other styles
b {
    color: gray;
}

td > button {
    margin: 0;
}

.v-select {
    .dropdown-toggle {
        border: 1px solid $input-border-color !important;
        border-radius: 0 !important;
    }
}

.list-group-item.active {
  background-color: theme-color('primary');
  border-color: theme-color('primary');
}

.btn-rytmi-light {
  background-color: rgb(242, 242, 242);
  border: none;
}

.btn-rytmi-light:hover {
  background-color: rgb(235, 235, 235);
}

.btn-rytmi-light:focus,.btn-rytmi-light:active {
  outline: none !important;
  box-shadow: none;
}
