// Here you can add other styles
b {
    color: gray;
}

td > button {
    margin: 0;
}

.white-bg {
  background-color: white;
}
.v-select {
  background-color: white;
  font-family: 'Lato';
  font-weight: 500;
  .dropdown-toggle {
      border: 1px solid $input-border-color !important;
      border-radius: 0 !important;
  }
  .selected-tag {
    background-color: $c-light   !important;
    border: none !important;
    padding: 5px 5px 5px 5px !important;
  }
}

.list-group-item.active {
  background-color: theme-color('primary');
  border-color: theme-color('primary');
}

.btn {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card {
  border-left: 1px solid $body-bg !important;
  border-top: 1px solid $body-bg !important;
  box-shadow: 3px 3px darken($color: $body-bg, $amount: 5);
}
.card-header {
  font-family: 'Poppins';
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: none;
}


