// Here you can add other styles
b {
    color: gray;
}

td > button {
    margin: 0;
}

.v-select {
    .dropdown-toggle {
        border: 1px solid $input-border-color !important;
        border-radius: 0 !important;
    }
    .selected-tag {
        background-color: theme-color('primary') !important;
    }
}

.list-group-item.active {
  background-color: theme-color('primary');
  border-color: theme-color('primary');
}
