.search-results {
    padding: 0;
}

// In search results
.profile-open-button {
    margin: 0 auto;
    button {
        height: 100%;
        background: #fff;
        border: 0px;
        width: 100%;
    }
}