@import "~@coreui/coreui/scss/variables";

// Variable overrides
$sidebar-bg: #eee;
$sidebar-nav-link-color: $body-color;
$sidebar-nav-link-active-color: #fff;
$sidebar-nav-link-icon-color: $body-color;
$sidebar-nav-link-active-icon-color: #fff;
$sidebar-nav-link-active-bg: $orange;

$navbar-brand-logo:                   url('../img/logo.png') !default;
$navbar-brand-minimized-logo:         url('../img/Codento C RGB medium square.jpg') !default;
