// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";

html, body {
  font-family: 'Lato', sans-serif;
  color: #1D1433;
  h1 {
    font-family: 'Arvo', serif;
    font-style: italic;
    margin-top: 20px;
    &:after {
      content: "";
      display: block;
      width: 8rem;
      padding-top: 20px;
      border-bottom: 3px solid $c-orange;
    }
  }
  h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }

  small {
    font-family: 'Poppins';
    color: #303030;
    font-weight: 400;
  }
}

#app {
  font-family: 'Lato', sans-serif;
}

