
// If you want to override variables do it here
@import "variables";

@import "~bootstrap/scss/bootstrap";
// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";

html, body {
  min-height: 100%;
  font-family: 'Lato', sans-serif;
  color: $color-text;
  h1 {
    font-family: 'Arvo', serif;
    font-style: italic;
    margin-top: 20px;
    &:after {
      content: "";
      display: block;
      width: 8rem;
      padding-top: 20px;
      border-bottom: 3px solid $c-orange;
    }
  }
  h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  small {
    font-family: 'Poppins';
    font-weight: 400;
  }
}
.app {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.app-body {
  padding-bottom: 20px;
  display: flex;
  flex-grow: 1;
}
.footer {
  margin-top: auto;
  background-color: $c-violet-dark;
}

.main {
  width: 100%;
}
