language: node_js
node_js:
  - "9"
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - npm run test
before_deploy:
  - openssl aes-256-cbc -K $encrypted_676e48860407_key -iv $encrypted_676e48860407_iv -in secrets.tar.enc -out /tmp/secrets.tar -d
  - tar xvf /tmp/secrets.tar -C /tmp
  - cp /tmp/.$TRAVIS_BRANCH.env $TRAVIS_BUILD_DIR/.env
  - ssh-keyscan -H $DEPLOY_HOST 2>&1 | tee -a $HOME/.ssh/known_hosts
  - eval "$(ssh-agent -s)"
  - chmod 600 /tmp/deploy_rsa
  - ssh-add /tmp/deploy_rsa
  - npm run build
deploy:
  - provider: script
    skip_cleanup: true
    script: rsync -r --delete-after --quiet $TRAVIS_BUILD_DIR/dist/ $DEPLOY_USER@$DEPLOY_HOST:/var/rytmi-staging/rytmi-frontend/
    on:
      branch: dev
  - provider: script
    skip_cleanup: true
    script: rsync -r --delete-after --quiet $TRAVIS_BUILD_DIR/dist/ $DEPLOY_USER@$DEPLOY_HOST:/var/rytmi/rytmi-frontend/
    on:
      branch: master
after_script:
  - ./cc-test-reporter after-build -t lcov --exit-code $TRAVIS_TEST_RESULT
