language: node_js
node_js:
- '9'
cache: npm
before_install:
- openssl aes-256-cbc -K $encrypted_113ad6956d9b_key -iv $encrypted_113ad6956d9b_iv -in secrets.tar.enc -out secrets.tar -d
- tar xvf secrets.tar
before_script:
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
  > ./cc-test-reporter
- chmod +x ./cc-test-reporter
- "./cc-test-reporter before-build"
script:
- npm run lint --no-fix
- npm run test:unit
before_deploy:
- ssh-keyscan -H $DEPLOY_HOST 2>&1 | tee -a $HOME/.ssh/known_hosts
- eval "$(ssh-agent -s)"
- chmod 600 $TRAVIS_BUILD_DIR/deploy_rsa
- ssh-add $TRAVIS_BUILD_DIR/deploy_rsa
- if [ "$TRAVIS_BRANCH" == "dev" ]; then
    npm run build -- --mode staging;
  else
    npm run build;
  fi
deploy:
- provider: script
  skip_cleanup: true
  script: rsync -r --delete-after --quiet $TRAVIS_BUILD_DIR/dist/ $DEPLOY_USER@$DEPLOY_HOST:/var/rytmi-staging/rytmi-frontend/
  on:
    branch: dev
- provider: script
  skip_cleanup: true
  script: rsync -r --delete-after --quiet $TRAVIS_BUILD_DIR/dist/ $DEPLOY_USER@$DEPLOY_HOST:/var/rytmi/rytmi-frontend/
  on:
    branch: master
after_script:
- "./cc-test-reporter after-build -t lcov --exit-code $TRAVIS_TEST_RESULT"
